
<%= render 'modal_form'%>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h2>Все города</h2>
        </div>
        <div class="ibox-content">

          <table class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
            <tr>
              <th>#</th>
              <th>Город</th>
              <th>
                <button type="button" class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#exampleModalLong">
                  Добавить город
                </button>
              </th>

            </tr>
            </thead>
            <tbody>
            <% @towns.each do |town| %>
                <tr>
                  <th scope="row"><%= town.id %></th>
                  <td><%= town.name %></td>
                  <td><%= link_to 'Изменить', edit_town_path(town), class: ("btn btn-info btn-sm pull-right") %></td>
                </tr>
            <% end %>
            </tbody>
            <tfoot>
            <tr>
              <th>#</th>
              <th>Город</th>
              <th></th>
            </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">


        $(function() {

            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });

          /* Init DataTables */
            var oTable = $('#editable').dataTable();

          /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );


        });



    </script>

<% end %>

